*{font-family: Sans-serif;
  margin: 0;
  padding:0;
  box-sizing: border-box;
  text-decoration: none;
  outline:none;
  border:none;
  transition: all .2s linear;
}
  :root {
    --yellow: #F9ca24
}

*::selection {

background: #b57c04;
color: #333;
}

html{
  font-size:62.5%;
overflow-x: hidden;
scroll-behavior: smooth;
}

html::-webkit-scollbar{
  width:1.4rem;
}
html::-webkit-scollbar-track {
background-color: #222;
}
html::-webkit-scollbar-thumb {
background:#b57c04;
}
.topnav {
  position: fixed;
  padding:30px 0px;
  width: 100%;
  height: 25px
    background: rgba(100, 100, 100, 0.2);
  backdrop-filter: blur(10px);
  box-shadow:insert 10px 10px 10px black;
  top: 0;
  right: 0;
  border: .3rem solid var(--yellow);
}
.topnav a {
  display: block;
  padding: 1rem;
  margin: 1rem 2rem;
  color: black;
  background: rgba(100, 100, 100, 0.2);
  backdrop-filter: blur(10px);
  box-shadow:insert 10px 10px 10px white;
  border-radius: 5rem;
  float: right;
  top:.1rem; left:2rem;
  font-size: 2rem;
}




body {
 background-color: gray;
  overflow-x: hidden;
  padding-left: 35rem;
}

section {
  min-height: 100vh;
  padding: 1rem;
}

.btn {
  padding: .7rem 3rem;
  background: #333;
  color: #fff;
  cursor: pointer;
  margin-top: 1 rem;
  font-size: 2rem;
  border-radius: 5rem;
}
.btn i {
  padding: 0 .5re,;
  font-size: 1.8rem;
  color: white;
}
.btn:hover {
  background: ver(--yellow);
}


header{
  position:fixed;
  top:0; left:0;
  z-index:1000;
  height: 100%;
  width:35rem;
  background: white;
  display:flex;
  align-items: center;
  justify-content: center;
  text-align:center;
}

header .user img {
height:17rem;
width:17rem;
bordor-radius:50%;
object-fit:cover;
margin-bottom:1rem;
borber: .7rem solid var(--yellow);
}
 header .user .name {
   font-size: 3.5rem;
   color:black;
}
header . user .post{
   font-size: 2rem;
   color:black;
}
header .navbar ul {
  list-style: none;
  padding: 1rem 3rem;
}
header .navbar ul li a {
  display: block;
  padding: 1rem;
  margin: 1.5rem 0;
  background: rgba(100,100,100,0.2);
  back-drop filter: blur(10px);
  box-shadow:inset 10px 10px 10px gray;
  color: black;
  font-size: 2rem;
  border-radius: 5rem;
}
header .navbar ul li a:hover {
  background: var(--yellow);
}

.home {
  display: flex;
  justify-content: center;
  flex-flow: column:
    padding:0 15rem;
}
.home h3 {
  font-size: 2.5rem;
  color: white;
}
.home h1 span {
  color: var(--yellow);
}
.home p {
  font-size: 2rem;
  color: #eee;
  paddingL 1rem 0;
}

